.git
**/.idea
**/.vs
**/bin
**/obj
**/data
**/.env
**/.env.*
**/*.local.json
**/emapi-config.json
**/*.production.json
**/secrets.local.json
**/*.user
artifacts
dist
doc
plan
scripts
src/frontend
src/modules
